@media (max-width: 1000px) {
  header .container {
    flex-direction: column;
    padding-top: 25px;
  }

  nav {
    width: 100%;
  }

  nav li {
    flex-grow: 1;
  }

  nav a {
    text-align: center;
    padding: 56px 0;
  }

  .about {
    flex-direction: column;
  }

  .about .container-about {
    flex-direction: column;
    width: 100%;
  }

  .about .container-about .about-item {
    width: 100%;
    padding: 0px;
    margin: 30px 30px 10px 10px;
  }

  .about-slider {
    width: 100%;
  }

  .image img {
    width: 100%;
    object-fit: cover;
    object-position: bottoms;
  }
}

@media (max-width: 800px) {
  .logo {
    margin-bottom: 30px;
  }

  .mini-menu {
    display: block;
    width: 100%;
    background: none;
    padding: 20px 0;
    border: 2px solid var(--white);
    cursor: pointer;
    color: var(--white);
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    outline: none;
  }

  .home-item ul {
    flex-direction: column;
    display: none;
  }

  .home-item a {
    padding: 20px 0;
    background: none;
    color: var(--white);
    border-bottom: 2px solid var(--white);
  }

  .home-item a:hover {
    background: var(--white);
    color: var(--red);
  }

  header .container {
    padding-left: 0;
    padding-right: 0;
  }

  .services-container {
    flex-direction: column;
    margin: 0px;
  }

  .service-item {
    width: 100%;
  }

  .about-slider .slick-arrow {
    top: 30%;
  }

  .works-menu {
    display: block;
    width: 100%;
    background: none;
    margin-top: 35px;
    padding: 20px 0;
    border: 2px solid var(--grey);
    cursor: pointer;
    color: var(--grey);
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    outline: none;
  }

  .works-item ul {
    flex-direction: column;
    display: none;
  }

  .works-item a {
    padding: 20px 0;
    background: none;
    color: var(--white);
    border-bottom: 2px solid var(--grey);
  }

  .works-item a:hover {
    background: var(--white);
    color: var(--red);
  }
}

@media (max-width: 600px) {
  .about-slider .slick-arrow {
    top: 40%;
  }
}
