*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  --white: #ffffff;
  --lightgrey: #f6f1f1;
  --grey: #555555;
  --red: #c0301c;
  --wrapWidth: 1600px;
  --contWidth: 1140px;
  --font: "Montserrat", sans-serif;
  --font-text: "Roboto Slab", sans-serif;
}

body {
  background: var(--white);
  font-family: var(--font);
}

.wrapper {
  max-width: var(--wrapWidth);
  margin: 0 auto;
  overflow: hidden;
}

.container {
  max-width: var(--contWidth);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

nav a {
  text-decoration: none;
  text-transform: none;
  color: var(--lightgrey);
  display: block;
  padding: 46px 32px;
  font-size: 14px;
  font-weight: 900;
}

nav a:hover {
  color: var(--red);
}

.mini-menu {
  display: none;
}

header {
  min-height: 770px;
  background: url(../img/bg.png) center/cover fixed;
}

header .container {
  align-items: center;
}

.logo {
  text-decoration: none;
  text-transform: none;
  display: block;
  color: var(--white);
  font-weight: bold;
  font-size: 24px;
  position: relative;
}

.home-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: inherit;
  text-align: center;
}

.home-title {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--white);
  margin: 0px;
  font-size: 48px;
}

.home-text {
  color: var(--white);
  max-width: 1000px;
  margin: 30px auto 55px;
  font-size: 20px;
  font-family: var(--font-text);
}

.home-link {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--white);
  font-size: 16px;
  border: 2px solid var(--white);
  padding: 16px 34px;
}

.home-link:hover {
  color: var(--red);
  background: var(--white);
}

.section-title {
  text-align: center;
  text-transform: uppercase;
  color: var(--grey);
  font-size: 20px;
  font-weight: 400;
  margin: 0px;
  position: relative;
}

.section-title::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background: var(--grey);
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translate(-25px);
}

.container-text {
  font-size: 16px;
  color: var(--grey);
  text-align: center;
  padding-top: 40px;
}

.services {
  padding: 100px 0 100px;
}

.services-container {
  flex-wrap: nowrap;
  max-width: 1140px;
  margin: 30px auto 0;
}

.service-item {
  width: 48%;
  text-align: center;
  margin: 30px 15px;
}

.service-title {
  text-decoration: none;
  text-transform: uppercase;
  color: #808080;
  font-size: 16px;
  font-weight: 400;
  margin-top: 30px;
  position: relative;
}

.service-item p {
  font-size: 14px;
  color: #808080;
  line-height: 24px;
  text-align: center;
  margin: 20px 0 0;
  font-family: var(--font-text);
}

.about {
  background: #f8f8f8;
  padding: 100px 0 100px;
}

.container-about {
  flex-wrap: wrap;
  max-width: 1140px;
}

.about-item {
  width: 48%;
  text-align: left;
  margin: 60px 0;
}

.about-item p {
  font-size: 14px;
  color: #808080;
  line-height: 24px;
  text-align: left;
  margin: 0 0 10px;
  font-family: var(--font-text);
}

.about-slider {
  width: 100%;
  position: absolute;
}

.slick-list,
.slick-track {
  height: 100%;
}

.slick-track {
  display: flexbox;
  align-items: flex-start;
}

.slick-list {
  overflow: hidden;
}

.slide {
  margin: 0 15px;
}

.slide .image img {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.slide .image {
  display: block;
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  outline: none;
}

.slide .holder .image:after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  content: "";
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  outline: none;
}

.slide .holder .image:hover:after {
  opacity: 1;
}

.about-slider .slick-arrow {
  position: absolute;
  top: 25%;
  margin: 15px;
  z-index: 2;
  font-size: 0;
  border: none;
  width: 40px;
  height: 40px;
  justify-content: center;
  list-style: none;
  outline: none;
  cursor: pointer;
}

.about-slider .slick-arrow.slick-next {
  right: 0;
  background: url(../img/gray-ra.png) 0 0 / 100% no-repeat;
}

.about-slider .slick-arrow.slick-next:hover {
  right: 0;
  background: url(../img/right-arrow.png) 0 0 / 100% no-repeat;
}

.about-slider .slick-arrow.slick-prev {
  left: 0;
  background: url(../img/gray-la.png) 0 0 / 100% no-repeat;
}

.about-slider .slick-arrow.slick-prev:hover {
  right: 0;
  background: url(../img/la.jpg) 0 0 / 100% no-repeat;
}

.slide h4 {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  font-family: var(--font);
  color: var(--grey);
  margin-top: 20px;
  padding: 0px;
}

.slide {
  display: flex;
  outline: none;
  cursor: pointer;
}

.slide p {
  font-size: 14px;
  line-height: 24px;
  color: #808080;
  text-align: center;
  font-family: var(--font-text);
  margin-top: -50px;
}

.social-slider {
  position: absolute;
  text-align: center;
  left: 0;
  bottom: 0;
  right: 0;
  top: 75%;
  display: none;
}

.holder {
  display: block;
  position: relative;
  height: 70%;
  margin: 0;
  padding: 0;
  outline: none;
}

.holder:hover .social-slider {
  display: flex;
  justify-content: center;
}

.social-slider a {
  text-decoration: none;
  width: 30px;
  height: 30px;
  color: var(--white);
  margin-right: 10px;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
  transition: 0.3s;
}

.social-slider a:hover {
  transform: scale(1.2);
}

.facebook:hover,
.google-plus:hover,
.linkedin:hover,
.twitter:hover {
  background: #db4437;
}

.works {
  background: var(--white);
  padding: 100px 0;
}

.works nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.works nav a {
  text-decoration: none;
  text-transform: none;
  color: #808080;
  font-size: 16px;
  font-family: var(--font-text);
  font-weight: 400;
}

.works nav a:hover {
  color: var(--red);
}

.works-container {
  padding: 0.5vw;
  font-size: 0;
  flex-wrap: wrap;
  flex-direction: column;
  flex-flow: row wrap;
  display: flex;
}

.works-container .works-image {
  flex: auto;
  height: 320px;
  width: 360px;
  margin: 0.5vw;
}

.works-container .works-image a img {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.picture-view {
  display: none;
}
