*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  --white: #ffffff;
  --lightgrey: #f6f1f1;
  --red: #c0301c;
  --wrapWidth: 1600px;
  --contWidth: 1140px;
  --font: "Montserrat", sans-serif;
}

body {
  background: var(--white);
  font-family: var(--font);
}

.wrapper {
  max-width: var(--wrapWidth);
  margin: 0 auto;
  overflow: hidden;
}

.container {
  max-width: var(--contWidth);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

nav a {
  text-decoration: none;
  text-transform: none;
  color: var(--lightgrey);
  display: block;
  padding: 46px 32px;
  font-size: 14px;
  font-weight: 900;
}

nav a:hover {
  color: var(--red);
}

.mini-menu {
  display: none;
}

header {
  min-height: 770px;
  background: url(../img/bg.jpg) center/cover fixed;
}

header .container {
  align-items: center;
}

.logo {
  text-decoration: none;
  text-transform: none;
  display: block;
  color: var(--white);
  font-weight: bold;
  font-size: 24px;
  position: relative;
}

.home-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: inherit;
  text-align: center;
}

.home-title {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--white);
  margin: 0px;
  font-size: 48px;
}

.home-text {
  color: var(--white);
  max-width: 1000px;
  margin: 30px auto 55px;
  font-size: 20px;
}

.home-link {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--white);
  font-size: 16px;
  border: 2px solid var(--white);
  padding: 16px 34px;
}

.home-link:hover {
  color: var(--red);
  background: var(--white);
}
